/*==================================
Theme Color All Codes Variable
==================================*/

:root {
    --theme-general-color: #707073;
    /* theme gray color*/
}

:root {
    --theme-primary-color: #ffa836;
    /* theme primary color ok*/
}

:root {
    --theme-secondary-color: #052046;
    /* theme secondary color ok*/
}

:root {
    --theme-white-color: #fff;
    /* theme white font color*/
}

:root {
    --theme-light-color: #f8f9fa;
    /* theme light gray color*/
}

:root {
    --theme-gray-color: #edf0f5;
    /* theme gray color */
}

:root {
    --theme-dark-color: #052046;
    /* theme dark color*/
}

:root {
    --theme-extra-color-one: #8f1d26;
}

:root {
    --theme-extra-color-two: #ededed;
}

:root {
    --theme-primary-opacity-color: rgba(255, 168, 54, .8);
    /* theme secondary color ok*/
}

:root {
    --theme-secondary-opacity-color: rgba(5, 32, 70, .8);
    /* theme secondary color ok*/
}

:root {
    --theme-white-opacity-color: rgba(255, 255, 255, 0.85);
    /* theme light color ok*/
}

:root {
    --text-light-color: #9c9c9c;
    /* text light color */
}

:root {
    --theme-extra-color: #ea4335;
    /* text light color */
}


/*==================================
Font Variable
==================================*/

:root {
    --theme-general-font: 'Muli', sans-serif;
    /* Font use for normal text and general text ok*/
}

:root {
    --theme-hiperlink-font: 'Muli', sans-serif;
    /* Font use for normal text and general text */
}

:root {
    --theme-highlight-font: 'Odibee Sans', cursive;
    /* Font used in title or special area ok*/
}

h1,
.h1 {
    font-size: 48px;
    font-weight: 400
}

h2,
.h2 {
    font-size: 42px;
    font-weight: 400
}

h3,
.h3 {
    font-size: 36px;
    font-weight: 400
}

h4,
.h4 {
    font-size: 30px;
    font-weight: 400
}

h5,
.h5 {
    font-size: 24px;
    font-weight: 400
}

h6,
.h6 {
    font-size: 21px;
    font-weight: 400
}

.btn {
	font-size: 14px
}

.btn-link {
    font-weight: 500
}

.navbar-brand {
    padding: 0;
    width: 140px;
}

.down-line::before {
    width: 50px
}

.btn-primary,
.btn-primary:hover {
    color: var(--theme-white-color);
}